@import "semantic-ui";
@import "billboards";
@import "artists";

body {
    background-color: #36454f;
}

.billboard {
    display: flex;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .image{

    }
}

.artist-container {
    display: flex;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .image {

    }
}

.artist-view-container {
    display: flex;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .image {

    }
}
